<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ClientService</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="#85FB81">
<header> This is a starting page for a service. Select any action from buttons below!</header>
<button onclick="window.location.href = '/addclient';">Add a client</button>
<button onclick="window.location.href = '/deleteclient';">Delete a client</button>
<button onclick="window.location.href = 'getclient';">Look at a client</button>
<button onclick="window.location.href = 'getallclients';">Get all clients</button>
</body>
</html>